body {
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.4em;
}

.content-footer,
.head-heading,
.head-intro {
  text-align: center;
}

.head {
  padding: 2em 0;
  background-image: url(IMG_5509.jpg), url(white.png);
  background-size: contain;
  background-repeat: repeat, repeat;
  background-blend-mode: overlay;
}

.head-heading {
    color: #231F1D;
    text-shadow: 0 0 25px #F5F5F5;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 4em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.head-heading:hover {
    transform: scale(1.2);
    letter-spacing: 0.2em;
}

.introduction-section,
.education-section,
.development-section, .accomplishment-section, .others-section {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: justify;
}

.introduction-section > p,
.education-section > p,
.development-section > p,
.content-footer > p, .accomplishment-section > p, .others-section > p {
    /* Typography Declarations */
    font-weight: 300;
    color: black;
}

.education-section > ul, .accomplishment-section > ul, .development-section > ul, .others-section >ul {
  list-style: none;
  padding-left: 0;
  font-weight: 300;
  color: black;

}

section > h1 {
    color: #231F1D;
    margin-top: 2em;
}

h2 {
    /* Typography Declarations */
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #8A6850;
}

.content-footer {
  text-align: center;
  background-color: #E4D5C2;
  text-decoration: none;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.1em 0;
}
.social > li {
  display: inline-block;
  margin: 0 15px;
  font-weight: bold;
}
a {
    text-decoration: none;
    color: #8A6850;
}
