body {
    /* Typography Declarations */
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.content-footer,
.head-heading,
.head-intro {
  text-align: center;
}

.head {
  padding: 6em 0;
  background-image: url(IMG_5509.jpg), url(white.png);
  background-size: contain;
  background-repeat: repeat, repeat;
  border-top: solid 1em #ffcf00;
  background-blend-mode: overlay;
}

.head-heading {
    /* Layout Declarations */
    color: #ffcf00;
    text-shadow: 0 0 10px #000000;
    /* Typography Declarations */
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

.head-heading:hover {
    transform: scale(1.2);
    letter-spacing: 0.1em;

}


.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.introduction-section > p,
.location-section > p,
.questions-section,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

.questions-section > h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    /* Layout */
    margin: 2em 0 1em 0;
}

section > h1 {
    margin-top: 2em;
}

h2 {
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
}

.content-footer {
  margin: 50px 0;
  padding: 20px 0;
  text-align: center;
  background-color: #ffcf00;
  text-decoration: none;
}
.social > li {
  display: inline-block;
  margin: 0 5px;
}
.content-footer > p {
  color: #000000;
}
a {
    font-weight: bold;
    text-decoration: none;
    color: #F1C863;
}
  
@media only screen and (max-width: 500px) {
    .head {
        padding: 3em 0;
    }
    .head-heading {
        font-size: 3em;
    }
    .content-footer {
        padding: 2em 2.5em;
  }
}